<div class="flex justify-center items-center">
  <div class="text-center w-2/5 text-xl">
    <p class="py-5 text-2xl">Sign up</p>

    <%= render "devise/shared/user_data_form", action_type: 'new' %>

    <%= render "devise/shared/links" %>
  </div>
</div>
