<footer class="text-center bg-neutral-100 text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <div class="flex items-center justify-center p-6 border-b-2 border-neutral-200 dark:border-neutral-500">
    <p>Shop is ready for new opportunities since 1997 to <%= Date.current.year %> year!</p>
  </div>
</footer>
